blob_storage
blocklists
Code Cache
hist
GPUCache
Local Storage
Partitions
Preferences
Session Storage
SS
tabs
windowstate
favicons
Dictionaries
Crash Reports
SingletonLock
SingletonCookie
Network Persistent State
